.progress-step {
  list-style: none;
  text-align: center;
  flex: 1 1;
  position: relative;
}

.progress-step .step-index,
.progress-step .step-icon {
  @include crm-txt-base-style;
  background-color: $border-light;
  color: $black;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  display: inline-flex;
  transform-origin: center;
  align-items: center;
  justify-content: center;
}
.step-index,
.step-icon {
  transition: background-color 2s ease;
}

.progress-step.completed .step-icon {
  background-color: $primary;
  color: white;
}
.progress-step.completed .step-icon:hover {
  background-color: $primary;
}
.progress-step.current .step-index {
  background-color: $primary;
  color: white;
}
