.menulist-container {
  > .MuiPopover-paper {
    margin-top: 1.3rem;
    border-radius: unset;
  }
}

.menu-list {
  min-width: 14rem;
  > .menu-item {
      @include crm-txt-base-style;
      font-size: $font-size-12;
      padding: .8rem 0.8rem .8rem 1.6rem;
      color: $color-blue-dark;
  }
}

.menulist-container-v2 {
  > .MuiPopover-paper {
    margin-left: 8px;
    margin-top: 0px;
  }
}
