.tabs {
    &__list {
        display: flex;
        background-color: $color-tab-container;
        margin: 0;
    }
    &__container {
        margin-top : -1px;
    }
}
.tab-item {
    @include crm-txt-base-style;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    margin: .8rem .5rem 0 .5rem;
    padding: 1.1rem .8rem .9rem 1.5rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    &-inactive {
        background-color: $color-tab-item;
    }
    &-active {
        opacity: 1;
        background-color: $color-white;
    }
    &__close-btn {
        background-color: $color-tab-container;
        margin-left: 1.6rem;
        padding: 0 .3rem .2rem;
        text-align: center;
        border-radius: 50%;
        color: $color-text;
        &:hover {
            background-color: $color-grey-2;
        }
    }
    &:first-child { 
        margin-left: 1rem;
    }
}

.display-tab {
  height: calc(100vh - 83px);
  overflow-y: scroll;
}
