node_modules
.eslintcache
.DS_Store
*.vscode/settings.json
.vscode
*.map
*.bundle.js
*.env
package.lock
yarn-error.log*

# webstorm settings
.idea/

#vscode setttings
#.vscode/

# reason
lib
.merlin
.bsb.lock
lib/*
*.bs.js
