//main-colors
$primary: #2962ff;
$secondary: #f2c94c;

//text-colors
$txt-dark: #333333;
$txt-semi-dark: #828282;
$txt-light: #bdbdbd;

//border-colors
$border-light: #f2f2f2;
$border-dark: #828282;

//background
$bg-blue: #eef2ff;
$bg-grey: #f3f3f3;
$bg-transparent: rgba(255, 255, 255, 0.75);

//status colors
$grey-dark: #676767;
$grey-light: #efefef;
$blue-dark: #0091ff;
$blue-light: #e5f4ff;
$green-dark: #15b665;
$green-light: #e7f7ef;
$amber-dark: #fa6400;
$amber-light: #feefe5;
$red-dark: #e02020;
$red-light: #fbe8e8;
$status-red: #eb5757;
$status-orange: #FF9966;
$white: #ffffff;
$light-blue: #eef2ff;
$black: #000000;
