@mixin form-font {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: normal;
}

.form-input-container {
  margin: 0.4rem 1rem;
  width: 17.6rem;
  min-width: 17.6rem;
  display: flex;
  flex-direction: column;
  position: relative;

  > .form-input {
    @include form-font;
    font-size: $font-size-14;
    width: 100%;
    margin: 0;

    > .form-input-label {
      @include form-font;
      font-size: 1.2rem;
    }

    > .form-input-text {
      @include form-font;
      font-size: 1.2rem !important;
    }
  }
  .form-input:focus-within {
    > .form-input-label {
      color: $primary;
    }
    fieldset {
      border-color: $primary;
    }
  }

  > .input-error-container {
    @include form-font;
    font-size: 1.2rem;
    min-height: 1.2rem;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    > .error {
      color: $status-red;
      display: flex;
      align-items: center;
      > img {
        margin-right: 0.4rem;
      }
    }
    > .warning {
      color: $secondary;
    }
    > .helper-text {
      color: $txt-semi-dark;
    }
  }

  > .date-time-clear-btn {
    position: absolute;
    right: 1rem;
    transform: translateY(50%);
    z-index: 1;

    &.close-btn {
      background-color: $color-tab-container;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      border-radius: 50%;
      padding: 0.2rem;
      cursor: pointer;
      &:hover {
        background-color: $color-grey-2;
      }
    }
  }
}

.max-width {
  width: unset;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
