@import "../variables";

.form-input-date-time {
  width: 100%;
  input {
    padding: 1.05rem;
    font-size: $font-size-12;
  }
}

.form-input-date-time:focus-within {
  > label {
    color: $primary;
  }
  fieldset {
    border-color: $primary !important;
  }
}

.form-input-date-time:focus {
  fieldset {
    border-color: $primary !important;
  }
}
