html {
  font-size: 62.5%;
}

body {
  margin: 0 !important;
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar {
    display: none;
  }
}

iframe {
  border-top: none;
}

a {
  cursor: pointer;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
